@import url("https://use.typekit.net/pgx6xsy.css");

:root {
  --babyblue: #a4b2db;
  --white: #f9f4f3;
  --darkblue: #241e4e;
  --brown: #d4c6a9;
  --darkbrown: #82735c;
  --graa: #b5b5b5;

  --menu-speed: 0.75s;

  --teksturmobil: url('../images/teksturmobil.png');
  --franskbroed: url('../images/franskbroedmobil.png');
  --hvede: url('../images/hvedemobil.png');
  --computer: url('../images/amocomputer.png')
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--babyblue);
}

h1 {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

h2 {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

h3 {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

p {
  font-family: bebas-neue, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: var(--white);
}

/* mobil versionen */

@media screen and (max-width: 500px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
  font-size: 40px;
  }

  #baggrund_tekstur {
    background-color: transparent;
    background-image: var(--teksturmobil);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
  }


/*burgermenu start*/
  .menu-wrap {
    position: fixed;
    top: 20px;
    left: 25px;
    z-index: 1;
    font-family: bebas-neue, sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div::after {
    content:'';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .menu-wrap .hamburger > div::after {
    top: 10px;
  }

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background-color: var(--darkblue);
  }

  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: var(--white);
    border-radius: 50%;
    width: 150vw;
    height: 150vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div >ul >li {
    list-style: none;
    color: var(--white);
    font-size: 1.5rem;
    padding: 5px;
    background-color: var(--white);
  }

  .menu-wrap .menu > div > div >ul >li >a {
    color: var(--darkblue);
    text-decoration: none;
    transition: color 0.4s ease;
    background-color: var(--white);
    font-size: 40px;
  }
/*burgermenu slut*/

  #logoimg {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .forsideposebaggrund {
    background-color: transparent;
  }

  .nyt_design {
    background-color: transparent;
    background-image: var(--franskbroed);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 475px;
  }

  .nyt_design h1 {
    margin-left: 11%;
    margin-right: auto;
    margin-top: -10px;
    padding: 20px;
    font-size: 35px;
    background-color: transparent;
  }

  .nyt_design #franskbroed {
    background-color: transparent;
  }

  .forsidepose {
    width: 78%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--graa);
  }

  #p1 {
    margin-left: 40px;
    margin-right: 8px;
    margin-top: 35px;

    padding: 30px;
    border-left: 6px solid var(--white);
    font-size: 22px;
    color: var(--white);
    text-align: justify;
  }

  .design_hojre_venstre {
    background-color: transparent;
    background-image: var(--hvede);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 425px;
  }

  .design_hojre_venstre img{
    width: 35%;
    margin-left: 9%;
    margin-top: 30%;
    display: inline-block;
    border: 0.5px solid var(--graa);
  }

  .brunbox h3 {
    background-color: var(--brown);
    margin: 35px;
    padding: 15px;
    text-align: justify;
    color: var(--darkbrown);
    border: 1px solid var(--graa);
  }

  #p2 {
    margin-left: 8px;
    margin-right: 40px;
    margin-top: 45px;
    padding: 30px;
    border-right: 6px solid var(--white);
    font-size: 22px;
    color: var(--white);
    text-align: justify;
  }

  form {
    width: 100%;
    display: block;
    background-color: transparent;
    background-image: var(--teksturmobil);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 225px;
    margin-top: 35px;
    }

  .containeret {
    background-color: transparent;
    padding: 5px;
    overflow-x: hidden;
  }

  .containeret h1 {
    margin-top: 28px;
    text-align: center;
    margin-left: 2%;
    background-color: transparent;
  }

  .containeret h2 {
    background-color: transparent;
    text-align: center;
    margin-left: 35%;
    position: absolute;
  }

  input[type=text], input[type=submit] {
    width: 80%;
    font-family: bebas-neue, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--white);
    opacity: 0.8;
    background-color: transparent;
    margin-left: 37px;
    margin-right: 37px;
  }

  input[type=text] {
    border-bottom: 5px solid var(--darkblue);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px;
    font-size: 16px;
    width: 72%;
    margin-top: 15px;
  }

  input[type=submit] {
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    opacity: 1.2;
    font-size: 20px;
    padding: 12px;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }

  .some {
    margin-left: 26%;
    margin-bottom: 20px;
    justify-content: center;
  }

  .some h1 {
    font-family: bebas-neue, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: transparent;
    color: var(--white);
    margin-left: 11.5%;
    padding: 10px;
  }

  .somebillede img {
    width: 20%;
    padding: 15px;
  }

  /*      konkurrence.html      */

  .computer {
    background-color: transparent;
    background-image: var(--computer);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 600px;
  }

  .computer h1 {
    background-color: transparent;
    color: var(--darkblue);
  }

  .computer h2 {
    background-color: transparent;
    color: var(--darkblue);
  }
